[submodule "vim/pack/light/opt/vim-eunuch"]
	path = vim/pack/light/opt/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/pack/light/opt/vim-unimpaired"]
	path = vim/pack/light/opt/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/pack/light/opt/vim-repeat"]
	path = vim/pack/light/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/pack/light/opt/vim-scriptease"]
	path = vim/pack/light/opt/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "vim/pack/light/opt/ale"]
	path = vim/pack/light/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/light/opt/vim-fugitive"]
	path = vim/pack/light/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/light/opt/vim-solarized8"]
	path = vim/pack/light/opt/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "vim/pack/light/opt/vim-surround"]
	path = vim/pack/light/opt/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/light/opt/vim-sensible"]
	path = vim/pack/light/opt/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/pack/light/opt/vim-glsl"]
	path = vim/pack/light/opt/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
[submodule "vim/pack/light/opt/nvim-lspconfig"]
	path = vim/pack/light/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "vim/pack/light/opt/plenary"]
	path = vim/pack/light/opt/plenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "vim/pack/light/opt/Jenkinsfile-vim-syntax"]
	path = vim/pack/light/opt/Jenkinsfile-vim-syntax
	url = https://github.com/martinda/Jenkinsfile-vim-syntax.git
[submodule "vim/pack/light/opt/vim-jsonnet"]
	path = vim/pack/light/opt/vim-jsonnet
	url = https://github.com/google/vim-jsonnet.git
[submodule "vim/pack/light/opt/indentLine"]
	path = vim/pack/light/opt/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/pack/light/opt/nvim-dap"]
	path = vim/pack/light/opt/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
[submodule "vim/pack/light/opt/nvim-dap-go"]
	path = vim/pack/light/opt/nvim-dap-go
	url = https://github.com/leoluz/nvim-dap-go.git
[submodule "vim/pack/light/opt/editorconfig-vim"]
	path = vim/pack/light/opt/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/light/opt/vim-terraform"]
	path = vim/pack/light/opt/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/pack/light/opt/vim-vsnip"]
	path = vim/pack/light/opt/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "vim/pack/light/opt/lsp-progress"]
	path = vim/pack/light/opt/lsp-progress
	url = https://github.com/linrongbin16/lsp-progress.nvim.git
[submodule "vim/pack/light/opt/friendly-snippets"]
	path = vim/pack/light/opt/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets.git
[submodule "vim/pack/light/opt/blink.cmp"]
	path = vim/pack/light/opt/blink.cmp
	url = https://github.com/saghen/blink.cmp.git
[submodule "vim/pack/light/opt/which-key"]
	path = vim/pack/light/opt/which-key
	url = https://github.com/folke/which-key.nvim.git
[submodule "vim/pack/light/opt/snacks"]
	path = vim/pack/light/opt/snacks
	url = https://github.com/folke/snacks.nvim.git
[submodule "vim/pack/light/opt/CopilotChat"]
	path = vim/pack/light/opt/CopilotChat
	url = https://github.com/CopilotC-Nvim/CopilotChat.nvim.git
[submodule "vim/pack/light/opt/nvim-notify"]
	path = vim/pack/light/opt/nvim-notify
	url = https://github.com/rcarriga/nvim-notify.git
[submodule "vim/pack/light/opt/nvim-treesitter"]
	path = vim/pack/light/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "vim/pack/light/opt/nvim-solarized-lua"]
	path = vim/pack/light/opt/nvim-solarized-lua
	url = https://github.com/ishan9299/nvim-solarized-lua
[submodule "vim/pack/light/opt/tokyonight"]
	path = vim/pack/light/opt/tokyonight
	url = https://github.com/folke/tokyonight.nvim.git
[submodule "vim/pack/light/opt/grug-far"]
	path = vim/pack/light/opt/grug-far
	url = https://github.com/MagicDuck/grug-far.nvim.git
[submodule "vim/pack/light/opt/nui"]
	path = vim/pack/light/opt/nui
	url = https://github.com/MunifTanjim/nui.nvim.git
[submodule "vim/pack/light/opt/noice"]
	path = vim/pack/light/opt/noice
	url = https://github.com/folke/noice.nvim.git
[submodule "vim/pack/light/opt/lualine"]
	path = vim/pack/light/opt/lualine
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "vim/pack/light/opt/trouble"]
	path = vim/pack/light/opt/trouble
	url = https://github.com/folke/trouble.nvim.git
[submodule "vim/pack/light/opt/gitsigns"]
	path = vim/pack/light/opt/gitsigns
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "vim/pack/light/opt/nvim-colorizer"]
	path = vim/pack/light/opt/nvim-colorizer
	url = https://github.com/catgoose/nvim-colorizer.lua.git
[submodule "vim/pack/light/opt/catppuccin"]
	path = vim/pack/light/opt/catppuccin
	url = https://github.com/catppuccin/nvim.git
[submodule "vim/pack/light/opt/hardtime"]
	path = vim/pack/light/opt/hardtime
	url = https://github.com/m4xshen/hardtime.nvim.git
